<h3>
  <a routerLink="/">STRONA DOMOWA</a>
</h3>

<div id="procedingData" *ngIf="procedingData">
  <h1>Przetwarzam dane... Proszę czekać.</h1>
</div>

<div id="candidates" *ngIf="candidates">
  <table id="order">
    <h4>Do zamówienia:</h4>
    <tr>
      <th>kod</th>
      <th>nazwa</th>
      <th>netto</th>
      <th>brutto</th>
      <th>sprzedaż</th>
      <th>ilość</th>
    </tr>
    <tr *ngFor="let o of candidates.order">
      <td class="num">
        <a routerLink="/commodity/d/{{ days }}/l/{{ lessThan }}/m/{{ moreThan }}/{{ o.id }}">{{ o.code }}</a>
      </td>
      <td>{{ o.name }}</td>
      <td class="num">{{ o.netPrice | number: '1.2-2' }}</td>
      <td class="num">{{ o.grossPrice | number: '1.2-2' }}</td>
      <td class="num">{{ o.sales }}</td>
      <td class="num">{{ o.amount }}</td>
    </tr>
  </table>

  <table id="discount">
    <h4>Do przeceny:</h4>
    <tr>
      <th>kod</th>
      <th>nazwa</th>
      <th>netto</th>
      <th>brutto</th>
      <th>sprzedaż</th>
      <th>ilość</th>
    </tr>
    <tr *ngFor="let d of candidates.discount">
      <td class="num">
        <a routerLink="/commodity/d/{{ days }}/l/{{ lessThan }}/m/{{ moreThan }}/{{ d.id }}">{{ d.code }}</a>
      </td>
      <td>{{ d.name }}</td>
      <td class="num">{{ d.netPrice | number: '1.2-2' }}</td>
      <td class="num">{{ d.grossPrice | number: '1.2-2' }}</td>
      <td class="num">{{ d.sales }}</td>
      <td class="num">{{ d.amount }}</td>
    </tr>
  </table>

</div>
