#container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.num {
  text-align: right;
}

#xxx {
  display: flex;
  justify-content: space-between;
}

#commodity {
  margin: 40px;
}

table {
  border: 1px solid black;
}

td, th {
  padding: 10px;
  border: 1px solid black;
}

th {
  background-color: cadetblue;
}

.odd {
  background-color: lightgrey;
}

.even {
  background-color: aliceblue;
}

.pz {
  background-color: lightseagreen;
}

.pz-good {
  background-color: greenyellow;
}

.pz-bad {
  background-color: orangered;
}

.num {
  text-align: right;
}

a {
  margin: 40px;
  color: mediumvioletred;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: olive;
}
