<div id="container">
  <div>
    <h3>
      <a routerLink="/">BACK TO WAREHOUSE</a>
    </h3>
    <table id="commodity" *ngIf="commodity">
      <tr>
        <th>ID</th>
        <th>NAZWA</th>
        <th>SKRÓT</th>
        <th>KOD</th>
        <th>NETTO</th>
        <th>VAT</th>
        <th>BRUTTO</th>
        <th>ILOŚĆ</th>
      </tr>
      <tr>
        <td>{{ commodity.id }}</td>
        <td>{{ commodity.name }}</td>
        <td>{{ commodity.shortName }}</td>
        <td>{{ commodity.code }}</td>
        <td>{{ commodity.netPrice | number: '1.2-2' }}</td>
        <td>{{ commodity.tax }}%</td>
        <td>{{ commodity.grossPrice | number: '1.2-2' }}</td>
        <td>{{ commodity.amount }}</td>
      </tr>
    </table>
    <table *ngIf="commodity">
      <tr>
        <th>dok_id</th>
        <th>dok_kol</th>
        <th>kol</th>
        <th>poz_dok</th>
        <th>data</th>
        <th>kod</th>
        <th>typ</th>
        <th>ilość +</th>
        <th>ilość -</th>
        <th>stan przed</th>
        <th>stan po</th>
      </tr>
      <tr *ngFor="let d of commodity.receipts; let i = index" [ngClass]="{'pz': d.type === 2, 'odd': i % 2 !== 0, 'even': i % 2 === 0}">
        <td>{{ d.documentId }}</td>
        <td>{{ d.receiptDayOrder }}</td>
        <td>{{ d.order }}</td>
        <td>{{ d.entryOrder }}</td>
        <td>{{ d.date }}</td>
        <td>{{ d.code }}</td>
        <td>{{ d.type }}</td>
        <td>{{ d.increased }}</td>
        <td>{{ d.decreased }}</td>
        <td>{{ d.amountBeforeReceipt }}</td>
        <td>{{ d.amountAfterReceipt }}</td>
      </tr>
    </table>
    <h3 *ngIf="commodityNotFound">{{ commodityNotFound }}</h3>
  </div>
</div>
